<body class="body-about">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand brand-color" href="#">Sneaker Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-expand-right .navbar-collapse-right" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Book Today", new_booking_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <h1 class="h1-header-about">About Sneaker Shop</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12 mb-4">
        <p class="about-text">
          Welcome to Sneaker Shop, the ultimate destination for sneaker enthusiasts who demand the best for their beloved footwear. We are a team of passionate sneaker lovers who understand that your shoes aren't just a functional item, but an expression of your personality and style. That's why we provide a comprehensive range of sneaker cleaning and restoration services to help you keep your kicks looking fresh and pristine, no matter how hard you wear them.
        </p>
        <p class="about-text">
          Our team is made up of experienced sneaker cleaners who use only the highest quality products and techniques to restore your shoes to their former glory. Whether you need a simple cleaning or a complete restoration, we have the skills and expertise to get the job done right.
        </p>
        <p class="about-text">
          At Sneaker Shop, we're not just a cleaning service, we're a community of sneaker enthusiasts who are dedicated to providing exceptional customer service and helping you get the most out of your sneaker collection. From rare limited edition releases to classic designs, we understand the value of your shoes and will treat them with the care and respect they deserve.
        </p>
        <p class="about-text">
          We pride ourselves on offering a unique shopping experience that combines our passion for sneakers with exceptional customer service. With a constantly updated inventory, you can always find the latest trends and sought-after styles at Sneaker Shop. So whether you're looking to give your old kicks a new lease on life or add some fresh new styles to your collection, we've got you covered.
        </p>
      </div>
    </div>
  </div>
</body>
