/* Body */
.body-about {
  background-color: #000000;
}

/* Header */

.h1-header-about {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0BECAA;
  text-shadow: 2px 2px #000000;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-style: italic;
}

/* About Text */

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
}
