.booking-page {
  background-color: #f8f9fa;
  padding: 50px;
}

.booking-header {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0BECAA;
  text-shadow: 2px 2px #000000;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-style: italic;
}

.booking-page .card {
  margin-bottom: 50px;
}

.booking-page .form-group label {
  font-weight: bold;
  font-size: 1.2rem;
}

.booking-page .form-control {
  border-radius: 0;
}

.booking-page .form-check-input {
  margin-right: 10px;
}

.booking-page .terms-link {
  margin-left: 10px;
}

.booking-page .btn-primary {
  background-color: #0BECAA;
  border-color: #0BECAA;
  font-size: 1.2rem;
  font-weight: bold;
}

.booking-page .btn-primary:hover {
  background-color: #17d9af;
  border-color: #17d9af;
}
