.booking-page {
  background-color: #000;
  color: #05CE9A;
  display: flex;
  height: 100vh;
}

.card {
  background-color: #1c1c1c;
  border-color: #0BECAA;
}

.card-header {
  background-color: #1c1c1c;
  border-bottom-color: #0BECAA;
}

.booking-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.booking-timezone label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.booking-timezone select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.selected-date {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.booking-times {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.booking-time {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.booking-time input[type="radio"] {
  display: none;
}

.booking-time label {
  display: block;
  background-color: #05CE9A;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking-time label:hover {
  background-color: #0BECAA;
}

.booking-next {
  width: 100%;
  margin-top: 40px;
  text-align: right;
}

.booking-next a {
  display: inline-block;
  background-color: #0BECAA;
  color:#000;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
}

.booking-next a:hover {
  background-color: #05CE9A;
}
