/* Navbar */

.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.brand-color {
  color: #343a40;
}

/* Body */
.body-home {
  background-color: #000000;
}

/* Header */

.h1-header-home {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0BECAA; /* Updated color to green */
  text-shadow: 2px 2px #000000;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-style: italic;
}

/* Cards */

.card {
 padding-bottom: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: -7px !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

.card:hover img,
.card:hover .card-body {
  background-color: rgba(11, 236, 170, 0.5);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.card-title {
  margin-top: 0;

}

.card-text {
  flex-grow: 1;
}

.card-link {
  display: inline-block;
  margin-top: 10px;
}

.no-width {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .no-width {
    width: unset;
  }
}

@media only screen and (min-width: 768px) {
  .card-container .col-md-4 {
    width: calc(100% / 2);
  }
}

@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;}
  .card-container .col-md-4 {
    width: calc(100% / 3);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
